//  COLORS:
//	Color variables for the meeting css files.

// light blue -- content background
$mainContentBg: #f0f5fa;
// dark blue -- accent and border
$mainAccent: #00216d;

// table
$tableBg: #f4f8ff;
 // table head
$tableHeadBg: #b7cfff;

// link
$linkColor: #007dbc;
 // hover
$linkHoverColor: #00AAFF;

 // image bg
$vslideBg: #dae7f3;

 // meeting row
$meetingRowBg: #f0f5fa;
 // meeting row -- no handout
$meetingRowNoHandoutBg: #e0cde6;

// buttons / event info bg
$eventsBg: #d1e1f1;