/* VIRTUAL SLIDE STYLES */
@import "meeting-mixins";
  .virtual-slides {

  }
  .virtual-slide {
    width: 30%; 
    margin: 10px;
    padding: 10px;
    float: left;
    background: #dae7f3;
    line-height:15px; 
    color:#000000; 
    @include font-sans($family: verdana, $size: 11px);
    text-decoration:none;  
    img.vslide {
      margin: 0 auto;
      @include basic-border($color: #333333);
    }
    p {
      margin: 0 auto;
      padding: 0;
      text-align: center;
      @include font-sans($family: none, $weight: bold, $style: none);
      span {
        @include font-sans($family: none, $weight: none, $style: none, $size: 11px);
        font-weight: normal;
      }
    }
    ul { 
      @include no-margin-padding();
      list-style-type: none; 
    }
    li {
      margin: 0;
      padding: 2px 0 2px 20px;
      display: list-item;
      &.aperio {
        background: url(images/aperio.gif) no-repeat;
      }
      &.webviewer {
        background: url(images/webviewer.gif) no-repeat;
      }
    }
  }