/* line 4, ../scss/meeting-styles.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 7, ../scss/meeting-styles.scss */
.bar-divider {
  height: 3px;
  max-width: 450px;
  background: url(../images/bar.jpg) no-repeat white;
  margin: 0 auto;
}

/* line 13, ../scss/meeting-styles.scss */
.bold-text {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}

/* line 16, ../scss/meeting-styles.scss */
.ital-text {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

/* line 19, ../scss/meeting-styles.scss */
.hidden {
  display: none;
}

/* line 22, ../scss/meeting-styles.scss */
a.pdflink {
  background: url(../images/pdficon.gif) no-repeat;
  padding-left: 20px;
  padding-top: 2px;
  font-size: 13px;
}

/* PROGRAM BOOK */
/* line 30, ../scss/meeting-styles.scss */
#program-book {
  margin: 0;
  padding: 0;
  background: #f0f5fa;
  border: #00216d solid 2px;
}
/* line 34, ../scss/meeting-styles.scss */
#program-book ul {
  margin: 0;
  padding-left: 5px;
  list-style-type: none;
}
/* line 38, ../scss/meeting-styles.scss */
#program-book ul li {
  margin-left: 0;
  padding-left: 20px;
  padding-bottom: 0.8em;
  background: url("./images/bullet.gif") no-repeat;
}
/* line 44, ../scss/meeting-styles.scss */
#program-book ul ul {
  list-style-type: none;
}
/* line 46, ../scss/meeting-styles.scss */
#program-book ul ul li {
  margin-left: 0;
  padding-left: 14px;
  padding-bottom: 0.2em;
  background: url("./images/bullet2.gif") no-repeat;
}

/* line 55, ../scss/meeting-styles.scss */
#program-book-events {
  width: 46%;
  float: left;
  border-right: 1px solid #00216d;
  margin: 0;
  padding: 8px;
}
/* line 61, ../scss/meeting-styles.scss */
#program-book-events a {
  font-size: 12px;
}

/* line 65, ../scss/meeting-styles.scss */
#program-book-highlights {
  width: 50%;
  float: right;
  margin: 0;
  padding: 8px;
}

/* line 71, ../scss/meeting-styles.scss */
.program-book-highlighted, .program-book-sponsors {
  margin: 0 auto;
  text-align: center;
}

/* line 77, ../scss/meeting-styles.scss */
.meeting-content, .meeting-information {
  max-width: 945px;
  background: url("./images/eacademy.jpg") no-repeat white;
  padding-top: 55px;
  line-height: 15px;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

/* line 86, ../scss/meeting-styles.scss */
.meeting-information {
  background: transparent;
  padding-top: 10px;
}

/* line 90, ../scss/meeting-styles.scss */
.meeting-head {
  text-align: right;
}

/* SPECIAL COURSES STYLES */
/* line 95, ../scss/meeting-styles.scss */
.special-course {
  padding: 10px 3px 0;
}
/* line 101, ../scss/meeting-styles.scss */
.special-course cite {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
/* line 104, ../scss/meeting-styles.scss */
.special-course table {
  width: 100%;
  margin: 5px auto;
}
/* line 107, ../scss/meeting-styles.scss */
.special-course table tr {
  background: #f0f5fa;
}
/* line 109, ../scss/meeting-styles.scss */
.special-course table tr.no-handout {
  background: #e0cde6;
}
/* line 113, ../scss/meeting-styles.scss */
.special-course table td {
  padding: 7px;
  border: #00216d solid 1px;
}
/* line 116, ../scss/meeting-styles.scss */
.special-course table td.comp-time {
  min-width: 70px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
/* line 121, ../scss/meeting-styles.scss */
.special-course table td .comp-title {
  font-size: 12px;
  font-weight: bold;
}
/* line 124, ../scss/meeting-styles.scss */
.special-course table td cite {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
/* line 127, ../scss/meeting-styles.scss */
.special-course table td p {
  margin: 1em 0 0;
}
/* line 129, ../scss/meeting-styles.scss */
.special-course table td p:first-child {
  margin: 0;
}
/* line 136, ../scss/meeting-styles.scss */
.special-course table td ul li {
  margin-left: 15px;
  padding: 2px;
  background: transparent;
  border: none;
}

/* COMPANION MEETING STYLES */
/* line 149, ../scss/meeting-styles.scss */
.companion-meeting {
  padding: 10px 3px 0;
}
/* line 151, ../scss/meeting-styles.scss */
.companion-meeting ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 10px;
  border-top: 1px solid #00216d;
}
/* line 157, ../scss/meeting-styles.scss */
.companion-meeting li {
  padding: 7px;
  background: #f0f5fa;
  border: #00216d solid 1px;
  border-top: none;
}
/* line 163, ../scss/meeting-styles.scss */
.companion-meeting table {
  width: 100%;
  margin: 5px auto;
}
/* line 166, ../scss/meeting-styles.scss */
.companion-meeting table tr {
  background: #f0f5fa;
}
/* line 168, ../scss/meeting-styles.scss */
.companion-meeting table tr.no-handout {
  background: #e0cde6;
}
/* line 172, ../scss/meeting-styles.scss */
.companion-meeting table td {
  padding: 7px;
  border: #00216d solid 1px;
}
/* line 175, ../scss/meeting-styles.scss */
.companion-meeting table td p {
  margin: 1em 0 0;
}
/* line 177, ../scss/meeting-styles.scss */
.companion-meeting table td p:first-child {
  margin: 0;
}
/* line 183, ../scss/meeting-styles.scss */
.companion-meeting table td ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: none;
}
/* line 187, ../scss/meeting-styles.scss */
.companion-meeting table td ul li {
  margin-left: 10px;
  padding: 2px;
  background: transparent;
  border: none;
}

/* line 198, ../scss/meeting-styles.scss */
.companion-meeting-menu {
  padding: 10px;
}
/* line 200, ../scss/meeting-styles.scss */
.companion-meeting-menu ul {
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
}
/* line 205, ../scss/meeting-styles.scss */
.companion-meeting-menu li {
  padding-top: 6px;
}
/* line 208, ../scss/meeting-styles.scss */
.companion-meeting-menu h3 {
  margin-bottom: 0;
}
/* line 210, ../scss/meeting-styles.scss */
.companion-meeting-menu h3 + p {
  margin-top: 0;
}

/* line 216, ../scss/meeting-styles.scss */
.comp-time {
  min-width: 55px;
}

/* line 219, ../scss/meeting-styles.scss */
.comp-title, .comp-time {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/* line 223, ../scss/meeting-styles.scss */
.comp-subtitle {
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
}

/* line 226, ../scss/meeting-styles.scss */
.comp-topic {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}

/* line 231, ../scss/meeting-styles.scss */
.comp-label {
  margin-left: 20px;
  float: left;
  text-align: left;
  width: 65px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
}

/* line 238, ../scss/meeting-styles.scss */
.comp-moderator {
  margin-left: 70px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
}

/* line 244, ../scss/meeting-styles.scss */
.center-box {
  text-align: center;
  margin: 0 auto;
}

/* line 248, ../scss/meeting-styles.scss */
.event-time-location {
  margin: 20px auto 20px;
  padding: 4px;
  border: #00216d solid 1px;
  background: #d1e1f1;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

/* SPECIALTY CONFERENCE STYLES */
/* line 262, ../scss/meeting-styles.scss */
.specialty-conferences p {
  width: 85%;
  margin: 15px auto 40px;
}
/* line 266, ../scss/meeting-styles.scss */
.specialty-conferences table {
  width: 85%;
  margin: 5px auto;
}
/* line 269, ../scss/meeting-styles.scss */
.specialty-conferences table td {
  padding: 0 2px;
  width: 40%;
}
/* line 272, ../scss/meeting-styles.scss */
.specialty-conferences table td:first-child {
  width: 20%;
}
/* line 276, ../scss/meeting-styles.scss */
.specialty-conferences table thead {
  background: #d1e1f1;
  font-size: 12px;
  font-weight: bold;
}
/* line 279, ../scss/meeting-styles.scss */
.specialty-conferences table thead td {
  padding: 3px 2px;
}

/* line 286, ../scss/meeting-styles.scss */
.course-header {
  margin: 0 auto;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}
/* line 289, ../scss/meeting-styles.scss */
.course-header h1 {
  text-align: center;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

/* line 297, ../scss/meeting-styles.scss */
.case-header {
  margin: 0 auto;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}
/* line 300, ../scss/meeting-styles.scss */
.case-header h1 {
  text-align: center;
  color: #000000;
  font-family: "book antiqua", "times new roman", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
/* line 307, ../scss/meeting-styles.scss */
.case-header h2 {
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}
/* line 311, ../scss/meeting-styles.scss */
.case-header h3 {
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
/* line 315, ../scss/meeting-styles.scss */
.case-header p {
  text-align: center;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  line-height: 15px;
  text-decoration: none;
}

/* line 324, ../scss/meeting-styles.scss */
.case-number {
  float: left;
  text-align: right;
  width: 100px;
}

/* line 329, ../scss/meeting-styles.scss */
.case-title {
  margin-left: 105px;
  font-weight: normal;
  font-style: italic;
}

/* line 333, ../scss/meeting-styles.scss */
.case-label {
  float: left;
  text-align: right;
  width: 150px;
  font-weight: bold;
  font-style: normal;
}

/* line 339, ../scss/meeting-styles.scss */
.case-detail {
  margin-left: 160px;
  margin-bottom: 10px;
  font-weight: normal;
  font-style: normal;
}

/* line 344, ../scss/meeting-styles.scss */
.case-panelist {
  margin-left: 160px;
  margin-bottom: 10px;
  font-weight: normal;
  font-style: italic;
}

/* line 349, ../scss/meeting-styles.scss */
.case-menu cite, .case-panelist cite, .case-title cite {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}

/* line 352, ../scss/meeting-styles.scss */
.case-navigation {
  margin: 15px auto 20px;
  text-align: center;
  width: 230px;
}
/* line 356, ../scss/meeting-styles.scss */
.case-navigation div {
  border: #00216d solid 1px;
  padding: 2px 0;
  background: #f0f5fa;
}

/* line 363, ../scss/meeting-styles.scss */
.spec-conf-handout {
  margin: 0 auto;
  max-width: 75%;
}

/* line 367, ../scss/meeting-styles.scss */
.spec-conf-handout-listing {
  padding: 0 20px;
}
/* line 369, ../scss/meeting-styles.scss */
.spec-conf-handout-listing ul {
  margin: 0;
  padding: 5px 0;
  list-style-type: none;
}
/* line 373, ../scss/meeting-styles.scss */
.spec-conf-handout-listing ul li {
  margin-left: 0;
  padding-left: 20px;
  padding-bottom: 0.6em;
  background: url("./images/bullet.gif") no-repeat;
}
/* line 380, ../scss/meeting-styles.scss */
.spec-conf-handout-listing ul li:first-child {
  background: transparent;
}
/* line 383, ../scss/meeting-styles.scss */
.spec-conf-handout-listing ul li label {
  float: right;
  min-width: 250px;
  text-align: right;
}
/* line 388, ../scss/meeting-styles.scss */
.spec-conf-handout-listing ul li b {
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}

/* line 396, ../scss/meeting-styles.scss */
.spec-day-menu {
  margin: 0 auto;
  max-width: 500px;
}

/* line 401, ../scss/meeting-styles.scss */
.spec-day-menu-listing ul {
  margin: 0;
  padding: 5px 0;
  list-style-type: none;
}
/* line 405, ../scss/meeting-styles.scss */
.spec-day-menu-listing ul li {
  margin-left: 0;
  padding: 3px 0;
}
/* line 408, ../scss/meeting-styles.scss */
.spec-day-menu-listing ul li label {
  float: right;
  min-width: 250px;
  text-align: right;
}
/* line 413, ../scss/meeting-styles.scss */
.spec-day-menu-listing ul li b {
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}

/* line 421, ../scss/meeting-styles.scss */
.comp-menu-navigation {
  margin: 10px auto 2px;
  padding: 0;
  text-align: center;
  display: inline-block;
}
/* line 426, ../scss/meeting-styles.scss */
.comp-menu-navigation div {
  border: #00216d solid 1px;
  padding: 2px 0;
  background: #f0f5fa;
}

/* line 432, ../scss/meeting-styles.scss */
.case-menu-navigation {
  margin: 10px auto 2px;
  padding: 0;
  text-align: center;
  width: 220px;
}
/* line 437, ../scss/meeting-styles.scss */
.case-menu-navigation div {
  border: #00216d solid 1px;
  padding: 2px 0;
  background: #f0f5fa;
}

/* line 443, ../scss/meeting-styles.scss */
.case-menu-navigation-bottom {
  margin: 10px 0 2px;
  padding: 0;
  text-align: left;
  width: 56px;
}
/* line 448, ../scss/meeting-styles.scss */
.case-menu-navigation-bottom div {
  border: 0px;
  padding: 2px 0;
  background: transparent;
}

/* line 454, ../scss/meeting-styles.scss */
.comp-menu-navigation ul, .case-menu-navigation-bottom ul, .case-menu-navigation ul, .case-navigation ul, .pdf-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 458, ../scss/meeting-styles.scss */
.comp-menu-navigation li, .case-menu-navigation-bottom li, .case-menu-navigation li, .case-navigation li {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 466, ../scss/meeting-styles.scss */
.pdf-block {
  margin: 10px auto;
  text-align: center;
}
/* line 469, ../scss/meeting-styles.scss */
.pdf-block li {
  padding: 2px 0;
  line-height: 15px;
  color: #990027;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
/* line 475, ../scss/meeting-styles.scss */
.pdf-block li .pdf-block-emphasis {
  font-weight: bold;
}

/* line 480, ../scss/meeting-styles.scss */
.case-bottom {
  float: right;
}

/* line 483, ../scss/meeting-styles.scss */
.case-menu-bottom {
  margin: 5px;
  color: #000;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}

/* line 488, ../scss/meeting-styles.scss */
.case-instructions {
  max-width: 550px;
  margin: 0 auto 18px;
  text-align: center;
}

/* line 494, ../scss/meeting-styles.scss */
.getaperio {
  margin: 0 auto;
  text-align: right;
  color: #00a0b0;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}
/* line 499, ../scss/meeting-styles.scss */
.getaperio img {
  float: right;
  padding: 5px;
}

/* line 505, ../scss/meeting-styles.scss */
.gethelp {
  line-height: 15px;
  color: #990027;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

/* line 512, ../scss/meeting-styles.scss */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* NAV BUTTON STYLES */
/* line 519, ../scss/meeting-styles.scss */
.sprites-casenav {
  background-image: url(./images/sprites_case_nav.png);
  background-color: transparent;
  background-repeat: no-repeat;
}

/* line 524, ../scss/meeting-styles.scss */
a.nav-prev {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 76px;
  background-position: 0px 0px;
}
/* line 526, ../scss/meeting-styles.scss */
a.nav-prev:hover {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 76px;
  background-position: -76px 0px;
}

/* line 530, ../scss/meeting-styles.scss */
a.nav-cont {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 78px;
  background-position: -152px 0px;
}
/* line 532, ../scss/meeting-styles.scss */
a.nav-cont:hover {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 78px;
  background-position: -230px 0px;
}

/* line 536, ../scss/meeting-styles.scss */
a.nav-next {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 52px;
  background-position: -308px 0px;
}
/* line 538, ../scss/meeting-styles.scss */
a.nav-next:hover {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 52px;
  background-position: -360px 0px;
}

/* line 542, ../scss/meeting-styles.scss */
a.nav-additin {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 122px;
  background-position: -412px 0px;
}
/* line 544, ../scss/meeting-styles.scss */
a.nav-additin:hover {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 122px;
  background-position: -534px 0px;
}

/* line 548, ../scss/meeting-styles.scss */
a.nav-back {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 52px;
  background-position: -656px 0px;
}
/* line 550, ../scss/meeting-styles.scss */
a.nav-back:hover {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 52px;
  background-position: -708px 0px;
}

/* line 555, ../scss/meeting-styles.scss */
article {
  background: #f0f5fa;
  border: #00216d solid 1px;
  padding: 10px;
  margin: 3px;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
/* line 563, ../scss/meeting-styles.scss */
article h1 {
  margin: 0;
  padding: 0.5em 0;
  font-family: arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
/* line 569, ../scss/meeting-styles.scss */
article h2 {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}
/* line 573, ../scss/meeting-styles.scss */
article h3 {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
/* line 577, ../scss/meeting-styles.scss */
article h4 {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
/* line 581, ../scss/meeting-styles.scss */
article h5 {
  display: inline;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
}
/* line 585, ../scss/meeting-styles.scss */
article table {
  border: #00216d solid 1px;
  background: #f4f8ff;
  margin: 10px;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  vertical-align: top;
}
/* line 593, ../scss/meeting-styles.scss */
article table caption {
  font-size: 11px;
  font-weight: bold;
  text-align: left;
}
/* line 598, ../scss/meeting-styles.scss */
article td {
  border: #00216d solid 1px;
  padding: 4px;
  vertical-align: top;
}
/* line 603, ../scss/meeting-styles.scss */
article thead td {
  font-weight: bold;
  text-align: center;
  background: #b7cfff;
}
/* line 609, ../scss/meeting-styles.scss */
article.case-menu h1 {
  text-align: left;
  padding: 0.5em 0;
}
/* line 613, ../scss/meeting-styles.scss */
article.case-menu h2 {
  padding: 0 0 0.5em;
  line-height: 16px;
  color: #000000;
  font-family: "book antiqua", "times new roman", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}
/* line 621, ../scss/meeting-styles.scss */
article p {
  margin: 0 0 1.0em 0;
  padding: 0;
}
/* line 625, ../scss/meeting-styles.scss */
article ol, article ul {
  margin: 1mm 0 1mm;
  padding-bottom: 1mm;
}
/* line 629, ../scss/meeting-styles.scss */
article li {
  margin: 0 0 1mm;
}

/* line 633, ../scss/meeting-styles.scss */
article p, article li, section p, section li {
  line-height: 15px;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

/* line 639, ../scss/meeting-styles.scss */
section a, article a, article a:link, section a:visited, article a:visited {
  color: #007dbc;
  font-family: arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

/* line 644, ../scss/meeting-styles.scss */
section a:hover, article a:hover {
  color: #00aaff;
  font-family: arial, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

/* line 650, ../scss/meeting-styles.scss */
article.program-topics {
  background: #d1e1f1;
  border: #00216d solid 1px;
  padding: 10px;
  margin: 3px;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
/* line 658, ../scss/meeting-styles.scss */
article.program-topics h1 {
  margin: 0;
  padding: 0.5em 0 0;
  font-family: arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  color: #000070;
  text-transform: uppercase;
  text-align: left;
}
/* line 666, ../scss/meeting-styles.scss */
article.program-topics table {
  width: 100%;
  padding-left: 20px;
  border: none;
  border-color: #d1e1f1;
  background: #d1e1f1;
}
/* line 672, ../scss/meeting-styles.scss */
article.program-topics table tr {
  border: none;
  border-color: #d1e1f1;
}
/* line 676, ../scss/meeting-styles.scss */
article.program-topics table td {
  border: none;
  border-color: #d1e1f1;
  vertical-align: top;
}
/* line 680, ../scss/meeting-styles.scss */
article.program-topics table td.topic-day {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
/* line 683, ../scss/meeting-styles.scss */
article.program-topics table td.topic-time {
  width: 55px;
}
/* line 686, ../scss/meeting-styles.scss */
article.program-topics table td.topic-room {
  width: 155px;
}

/* line 693, ../scss/meeting-styles.scss */
article.disclosure-info {
  background: transparent;
  border: none;
  padding: 0;
  margin: 3px;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
/* line 701, ../scss/meeting-styles.scss */
article.disclosure-info table {
  width: 100%;
  background: #f0f5fa;
  border: #00216d solid 1px;
}
/* line 705, ../scss/meeting-styles.scss */
article.disclosure-info table tr {
  border-color: #d1e1f1;
}
/* line 708, ../scss/meeting-styles.scss */
article.disclosure-info table td {
  border: #00216d solid 1px;
  vertical-align: top;
  font-family: arial, sans-serif;
  font-size: 9px;
  font-weight: normal;
  font-style: normal;
  line-height: 11px;
}
/* line 713, ../scss/meeting-styles.scss */
article.disclosure-info table td.disc-number {
  width: 75px;
  text-align: center;
}
/* line 717, ../scss/meeting-styles.scss */
article.disclosure-info table td.disc-name {
  width: 105px;
}
/* line 721, ../scss/meeting-styles.scss */
article.disclosure-info table thead td {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  background: #f0f5fa;
}

/* line 729, ../scss/meeting-styles.scss */
article.program-outline {
  background: #d1e1f1;
  border: #00216d solid 1px;
  max-width: 600px;
  padding: 7px;
  margin: 3px auto;
  color: #000000;
  text-decoration: none;
}
/* line 737, ../scss/meeting-styles.scss */
article.program-outline h1 {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
  border-top: 2px #00216d solid;
  text-align: left;
}
/* line 743, ../scss/meeting-styles.scss */
article.program-outline p.col-left {
  width: 315px;
  float: left;
}
/* line 747, ../scss/meeting-styles.scss */
article.program-outline p.col-right {
  width: 250px;
  float: right;
}
/* line 751, ../scss/meeting-styles.scss */
article.program-outline a {
  font-size: 12px;
}
/* line 754, ../scss/meeting-styles.scss */
article.program-outline ul {
  margin: -7px 0 0;
  padding: 0 0 0 5px;
  list-style-type: none;
}
/* line 758, ../scss/meeting-styles.scss */
article.program-outline ul li {
  margin: 0;
  padding: 0;
}
/* line 761, ../scss/meeting-styles.scss */
article.program-outline ul li a {
  font-size: 11px;
}
/* line 766, ../scss/meeting-styles.scss */
article.program-outline .daily-room {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

/* line 770, ../scss/meeting-styles.scss */
.recog-head {
  text-align: center;
}

/* line 773, ../scss/meeting-styles.scss */
.three-div-col, .two-div-col, .one-div-col {
  padding: 0 10px;
}

/* line 776, ../scss/meeting-styles.scss */
.three-div-col div {
  width: 33.33%;
  float: left;
  margin-bottom: 1em;
}

/* line 782, ../scss/meeting-styles.scss */
.two-div-col div {
  width: 50%;
  float: left;
  margin-bottom: 1em;
}

/* line 788, ../scss/meeting-styles.scss */
.one-div-col div {
  width: 100%;
  margin-bottom: 1em;
}

/* line 793, ../scss/meeting-styles.scss */
div.col-left {
  text-align: left;
}

/* line 796, ../scss/meeting-styles.scss */
div.col-center {
  text-align: center;
}

/* line 799, ../scss/meeting-styles.scss */
div.col-right {
  text-align: right;
}

/* line 804, ../scss/meeting-styles.scss */
section.case-summary:after {
  display: block;
  content: "";
  height: 3px;
  max-width: 450px;
  background: url(./images/bar.jpg) no-repeat transparent;
  margin: 15px auto;
}
/* line 812, ../scss/meeting-styles.scss */
section.case-summary:last-of-type:after {
  background: transparent;
}

/* FIGURE STYLES */
/* line 3, ../scss/meeting-figures.scss */
figure {
  margin: 0 auto;
  padding: 10px;
  float: left;
  text-align: left;
}
/* line 8, ../scss/meeting-figures.scss */
figure img {
  border: 0;
  -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

/* line 15, ../scss/meeting-figures.scss */
.four-fig-col figure {
  width: 22%;
}

/* line 18, ../scss/meeting-figures.scss */
.three-fig-col figure {
  width: 22%;
}

/* line 22, ../scss/meeting-figures.scss */
.two-fig-col figure {
  width: 22%;
}

/* line 26, ../scss/meeting-figures.scss */
figcaption {
  text-align: left;
  line-height: 15px;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
}

/* VIRTUAL SLIDE STYLES */
/* line 6, ../scss/meeting-vslides.scss */
.virtual-slide {
  width: 30%;
  margin: 10px;
  padding: 10px;
  float: left;
  background: #dae7f3;
  line-height: 15px;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
/* line 16, ../scss/meeting-vslides.scss */
.virtual-slide img.vslide {
  margin: 0 auto;
  border: #333333 solid 1px;
}
/* line 20, ../scss/meeting-vslides.scss */
.virtual-slide p {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
/* line 25, ../scss/meeting-vslides.scss */
.virtual-slide p span {
  font-size: 11px;
  font-weight: normal;
}
/* line 30, ../scss/meeting-vslides.scss */
.virtual-slide ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 34, ../scss/meeting-vslides.scss */
.virtual-slide li {
  margin: 0;
  padding: 2px 0 2px 20px;
  display: list-item;
}
/* line 38, ../scss/meeting-vslides.scss */
.virtual-slide li.aperio {
  background: url(images/aperio.gif) no-repeat;
}
/* line 41, ../scss/meeting-vslides.scss */
.virtual-slide li.webviewer {
  background: url(images/webviewer.gif) no-repeat;
}

/* FOOTNOTES */
/* line 822, ../scss/meeting-styles.scss */
#hoverfootnote {
  position: absolute;
  top: -500px;
  left: -500px;
  padding: 6px;
  border: #333333 solid 1px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #eee;
  max-width: 350px;
  opacity: .9;
  line-height: 15px;
  color: #000000;
  display: none;
  font-family: verdana, arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
}
/* line 838, ../scss/meeting-styles.scss */
#hoverfootnote p {
  color: #a00000;
  padding: 0;
  margin: 1em 0 0;
}

/* line 845, ../scss/meeting-styles.scss */
ol.footnotes {
  margin-top: 0.25em;
  margin-bottom: 1em;
  list-style-type: decimal;
  padding-left: 2.5em;
}

/* CLEARFIX */
/* line 3, ../scss/basecss-clearfix.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 8, ../scss/basecss-clearfix.scss */
.clearfix:after {
  clear: both;
}

/* line 11, ../scss/basecss-clearfix.scss */
.clearfix {
  *zoom: 1;
}
