/* line 4, ../scss/meeting-styles.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 7, ../scss/meeting-styles.scss */
.bar-divider {
  height: 3px;
  max-width: 450px;
  background: url(../images/bar.jpg) no-repeat white;
  margin: 0 auto;
}

/* line 13, ../scss/meeting-styles.scss */
.bold-text {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}

/* line 16, ../scss/meeting-styles.scss */
.ital-text {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

/* line 19, ../scss/meeting-styles.scss */
.hidden {
  display: none;
}

/* line 22, ../scss/meeting-styles.scss */
a.pdflink {
  background: url(../images/pdficon.gif) no-repeat;
  padding-left: 20px;
  padding-top: 2px;
  font-size: 13px;
}

/* line 28, ../scss/meeting-styles.scss */
.center-box {
  text-align: center;
  margin: 0 auto;
}

/* line 32, ../scss/meeting-styles.scss */
.event-time-location {
  margin: 20px auto 20px;
  padding: 4px;
  border: #00216d solid 1px;
  background: #d1e1f1;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

/* line 42, ../scss/meeting-styles.scss */
.meeting-content, .meeting-information {
  max-width: 945px;
  background: url("http://placehold.it/940x55") no-repeat white;
  padding-top: 55px;
  line-height: 15px;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

/* line 51, ../scss/meeting-styles.scss */
.meeting-information {
  background: transparent;
  padding-top: 10px;
}

/* line 55, ../scss/meeting-styles.scss */
.meeting-head {
  text-align: right;
}

/* SPECIAL COURSES STYLES */
/* line 60, ../scss/meeting-styles.scss */
.special-course {
  padding: 10px 3px 0;
}
/* line 66, ../scss/meeting-styles.scss */
.special-course cite {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
/* line 69, ../scss/meeting-styles.scss */
.special-course table {
  width: 100%;
  margin: 5px auto;
}
/* line 72, ../scss/meeting-styles.scss */
.special-course table tr {
  background: #f0f5fa;
}
/* line 74, ../scss/meeting-styles.scss */
.special-course table tr.no-handout {
  background: #e0cde6;
}
/* line 78, ../scss/meeting-styles.scss */
.special-course table td {
  padding: 7px;
  border: #00216d solid 1px;
}
/* line 81, ../scss/meeting-styles.scss */
.special-course table td.comp-time {
  min-width: 70px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
/* line 86, ../scss/meeting-styles.scss */
.special-course table td .comp-title {
  font-size: 12px;
  font-weight: bold;
}
/* line 89, ../scss/meeting-styles.scss */
.special-course table td cite {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
/* line 92, ../scss/meeting-styles.scss */
.special-course table td p {
  margin: 1em 0 0;
}
/* line 94, ../scss/meeting-styles.scss */
.special-course table td p:first-child {
  margin: 0;
}
/* line 101, ../scss/meeting-styles.scss */
.special-course table td ul li {
  margin-left: 15px;
  padding: 2px;
  background: transparent;
  border: none;
}

/* COMPANION MEETING STYLES */
/* line 114, ../scss/meeting-styles.scss */
.companion-meeting {
  padding: 10px 3px 0;
}
/* line 116, ../scss/meeting-styles.scss */
.companion-meeting ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 10px;
  border-top: 1px solid #00216d;
}
/* line 122, ../scss/meeting-styles.scss */
.companion-meeting li {
  padding: 7px;
  background: #f0f5fa;
  border: #00216d solid 1px;
  border-top: none;
}
/* line 128, ../scss/meeting-styles.scss */
.companion-meeting table {
  width: 100%;
  margin: 5px auto;
}
/* line 131, ../scss/meeting-styles.scss */
.companion-meeting table tr {
  background: #f0f5fa;
}
/* line 133, ../scss/meeting-styles.scss */
.companion-meeting table tr.no-handout {
  background: #e0cde6;
}
/* line 137, ../scss/meeting-styles.scss */
.companion-meeting table td {
  padding: 7px;
  border: #00216d solid 1px;
}
/* line 140, ../scss/meeting-styles.scss */
.companion-meeting table td p {
  margin: 1em 0 0;
}
/* line 142, ../scss/meeting-styles.scss */
.companion-meeting table td p:first-child {
  margin: 0;
}
/* line 148, ../scss/meeting-styles.scss */
.companion-meeting table td ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: none;
}
/* line 152, ../scss/meeting-styles.scss */
.companion-meeting table td ul li {
  margin-left: 10px;
  padding: 2px;
  background: transparent;
  border: none;
}

/* line 163, ../scss/meeting-styles.scss */
.comp-time {
  min-width: 55px;
}

/* line 166, ../scss/meeting-styles.scss */
.comp-title, .comp-time {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/* line 170, ../scss/meeting-styles.scss */
.comp-subtitle {
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
}

/* line 173, ../scss/meeting-styles.scss */
.comp-topic {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}

/* line 178, ../scss/meeting-styles.scss */
.comp-label {
  margin-left: 20px;
  float: left;
  text-align: left;
  width: 65px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
}

/* line 185, ../scss/meeting-styles.scss */
.comp-moderator {
  margin-left: 70px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
}

/* SPECIALTY CONFERENCE STYLES */
/* line 193, ../scss/meeting-styles.scss */
.specialty-conferences p {
  width: 85%;
  margin: 15px auto 40px;
}
/* line 197, ../scss/meeting-styles.scss */
.specialty-conferences table {
  width: 85%;
  margin: 5px auto;
}
/* line 200, ../scss/meeting-styles.scss */
.specialty-conferences table td {
  padding: 0 2px;
  width: 40%;
}
/* line 203, ../scss/meeting-styles.scss */
.specialty-conferences table td:first-child {
  width: 20%;
}
/* line 207, ../scss/meeting-styles.scss */
.specialty-conferences table thead {
  background: #d1e1f1;
  font-size: 12px;
  font-weight: bold;
}
/* line 210, ../scss/meeting-styles.scss */
.specialty-conferences table thead td {
  padding: 3px 2px;
}

/* line 217, ../scss/meeting-styles.scss */
.course-header {
  margin: 0 auto;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}
/* line 220, ../scss/meeting-styles.scss */
.course-header h1 {
  text-align: center;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

/* line 228, ../scss/meeting-styles.scss */
.case-header {
  margin: 0 auto;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}
/* line 231, ../scss/meeting-styles.scss */
.case-header h1 {
  text-align: center;
  color: #000000;
  font-family: "book antiqua", "times new roman", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
/* line 238, ../scss/meeting-styles.scss */
.case-header h2 {
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}
/* line 242, ../scss/meeting-styles.scss */
.case-header h3 {
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
/* line 246, ../scss/meeting-styles.scss */
.case-header p {
  text-align: center;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  line-height: 15px;
  text-decoration: none;
}

/* line 255, ../scss/meeting-styles.scss */
.case-number {
  float: left;
  text-align: right;
  width: 100px;
}

/* line 260, ../scss/meeting-styles.scss */
.case-title {
  margin-left: 105px;
  font-weight: normal;
  font-style: italic;
}

/* line 264, ../scss/meeting-styles.scss */
.case-label {
  float: left;
  text-align: right;
  width: 150px;
  font-weight: bold;
  font-style: normal;
}

/* line 270, ../scss/meeting-styles.scss */
.case-detail {
  margin-left: 160px;
  margin-bottom: 10px;
  font-weight: normal;
  font-style: normal;
}

/* line 275, ../scss/meeting-styles.scss */
.case-panelist {
  margin-left: 160px;
  margin-bottom: 10px;
  font-weight: normal;
  font-style: italic;
}

/* line 280, ../scss/meeting-styles.scss */
.case-menu cite, .case-panelist cite, .case-title cite {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}

/* line 283, ../scss/meeting-styles.scss */
.case-navigation {
  margin: 15px auto 20px;
  text-align: center;
  width: 230px;
}
/* line 287, ../scss/meeting-styles.scss */
.case-navigation div {
  border: #00216d solid 1px;
  padding: 2px 0;
  background: #f0f5fa;
}

/* line 294, ../scss/meeting-styles.scss */
.spec-conf-handout {
  margin: 0 auto;
  max-width: 75%;
}

/* line 298, ../scss/meeting-styles.scss */
.spec-conf-handout-listing {
  padding: 0 20px;
}
/* line 300, ../scss/meeting-styles.scss */
.spec-conf-handout-listing ul {
  margin: 0;
  padding: 5px 0;
  list-style-type: none;
}
/* line 304, ../scss/meeting-styles.scss */
.spec-conf-handout-listing ul li {
  margin-left: 0;
  padding-left: 20px;
  padding-bottom: 0.6em;
  background: url("./images/bullet.gif") no-repeat;
}
/* line 311, ../scss/meeting-styles.scss */
.spec-conf-handout-listing ul li:first-child {
  background: transparent;
}
/* line 314, ../scss/meeting-styles.scss */
.spec-conf-handout-listing ul li label {
  float: right;
  min-width: 250px;
  text-align: right;
}
/* line 319, ../scss/meeting-styles.scss */
.spec-conf-handout-listing ul li b {
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}

/* line 327, ../scss/meeting-styles.scss */
.comp-menu-navigation {
  margin: 10px auto 2px;
  padding: 0;
  text-align: center;
  display: inline-block;
}
/* line 332, ../scss/meeting-styles.scss */
.comp-menu-navigation div {
  border: #00216d solid 1px;
  padding: 2px 0;
  background: #f0f5fa;
}

/* line 338, ../scss/meeting-styles.scss */
.case-menu-navigation {
  margin: 10px auto 2px;
  padding: 0;
  text-align: center;
  width: 220px;
}
/* line 343, ../scss/meeting-styles.scss */
.case-menu-navigation div {
  border: #00216d solid 1px;
  padding: 2px 0;
  background: #f0f5fa;
}

/* line 349, ../scss/meeting-styles.scss */
.case-menu-navigation-bottom {
  margin: 10px 0 2px;
  padding: 0;
  text-align: left;
  width: 56px;
}
/* line 354, ../scss/meeting-styles.scss */
.case-menu-navigation-bottom div {
  border: 0px;
  padding: 2px 0;
  background: transparent;
}

/* line 360, ../scss/meeting-styles.scss */
.comp-menu-navigation ul, .case-menu-navigation-bottom ul, .case-menu-navigation ul, .case-navigation ul, .pdf-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 364, ../scss/meeting-styles.scss */
.comp-menu-navigation li, .case-menu-navigation-bottom li, .case-menu-navigation li, .case-navigation li {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 372, ../scss/meeting-styles.scss */
.pdf-block {
  margin: 10px auto;
  text-align: center;
}
/* line 375, ../scss/meeting-styles.scss */
.pdf-block li {
  padding: 2px 0;
  line-height: 15px;
  color: #990027;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
/* line 381, ../scss/meeting-styles.scss */
.pdf-block li .pdf-block-emphasis {
  font-weight: bold;
}

/* line 386, ../scss/meeting-styles.scss */
.case-bottom {
  float: right;
}

/* line 389, ../scss/meeting-styles.scss */
.case-menu-bottom {
  margin: 5px;
  color: #000;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}

/* line 394, ../scss/meeting-styles.scss */
.case-instructions {
  max-width: 550px;
  margin: 0 auto 18px;
  text-align: center;
}

/* line 400, ../scss/meeting-styles.scss */
.getaperio {
  margin: 0 auto;
  text-align: right;
  color: #00a0b0;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}
/* line 405, ../scss/meeting-styles.scss */
.getaperio img {
  float: right;
  padding: 5px;
}

/* line 411, ../scss/meeting-styles.scss */
.gethelp {
  line-height: 15px;
  color: #990027;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

/* line 418, ../scss/meeting-styles.scss */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* NAV BUTTON STYLES */
/* line 425, ../scss/meeting-styles.scss */
.sprites-casenav {
  background-image: url(./images/sprites_case_nav.png);
  background-color: transparent;
  background-repeat: no-repeat;
}

/* line 430, ../scss/meeting-styles.scss */
a.nav-prev {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 76px;
  background-position: 0px 0px;
}
/* line 432, ../scss/meeting-styles.scss */
a.nav-prev:hover {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 76px;
  background-position: -76px 0px;
}

/* line 436, ../scss/meeting-styles.scss */
a.nav-cont {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 78px;
  background-position: -152px 0px;
}
/* line 438, ../scss/meeting-styles.scss */
a.nav-cont:hover {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 78px;
  background-position: -230px 0px;
}

/* line 442, ../scss/meeting-styles.scss */
a.nav-next {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 52px;
  background-position: -308px 0px;
}
/* line 444, ../scss/meeting-styles.scss */
a.nav-next:hover {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 52px;
  background-position: -360px 0px;
}

/* line 448, ../scss/meeting-styles.scss */
a.nav-additin {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 122px;
  background-position: -412px 0px;
}
/* line 450, ../scss/meeting-styles.scss */
a.nav-additin:hover {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 122px;
  background-position: -534px 0px;
}

/* line 454, ../scss/meeting-styles.scss */
a.nav-back {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 52px;
  background-position: -656px 0px;
}
/* line 456, ../scss/meeting-styles.scss */
a.nav-back:hover {
  display: block;
  text-indent: -9999px;
  background: url(../images/sprites_case_nav.png) 0 0 no-repeat;
  height: 15px;
  width: 52px;
  background-position: -708px 0px;
}

/* line 461, ../scss/meeting-styles.scss */
article {
  background: #f0f5fa;
  border: #00216d solid 1px;
  padding: 10px;
  margin: 3px;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
/* line 469, ../scss/meeting-styles.scss */
article h1 {
  margin: 0;
  padding: 0.5em 0;
  font-family: arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
/* line 475, ../scss/meeting-styles.scss */
article h2 {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}
/* line 479, ../scss/meeting-styles.scss */
article h3 {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
/* line 483, ../scss/meeting-styles.scss */
article h4 {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
/* line 487, ../scss/meeting-styles.scss */
article h5 {
  display: inline;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
}
/* line 491, ../scss/meeting-styles.scss */
article table {
  border: #00216d solid 1px;
  background: #f4f8ff;
  margin: 10px;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  vertical-align: top;
}
/* line 499, ../scss/meeting-styles.scss */
article table caption {
  font-size: 11px;
  font-weight: bold;
  text-align: left;
}
/* line 504, ../scss/meeting-styles.scss */
article td {
  border: #00216d solid 1px;
  padding: 4px;
  vertical-align: top;
}
/* line 509, ../scss/meeting-styles.scss */
article thead td {
  font-weight: bold;
  text-align: center;
  background: #b7cfff;
}
/* line 515, ../scss/meeting-styles.scss */
article.case-menu h1 {
  text-align: left;
  padding: 0.5em 0;
}
/* line 519, ../scss/meeting-styles.scss */
article.case-menu h2 {
  padding: 0 0 0.5em;
  line-height: 16px;
  color: #000000;
  font-family: "book antiqua", "times new roman", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}
/* line 527, ../scss/meeting-styles.scss */
article p {
  margin: 0 0 1.0em 0;
  padding: 0;
}
/* line 531, ../scss/meeting-styles.scss */
article ol, article ul {
  margin: 1mm 0 1mm;
  padding-bottom: 1mm;
}
/* line 535, ../scss/meeting-styles.scss */
article li {
  margin: 0 0 1mm;
}

/* line 539, ../scss/meeting-styles.scss */
article p, article li, section p, section li {
  line-height: 15px;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

/* line 545, ../scss/meeting-styles.scss */
section a, article a, article a:link, section a:visited, article a:visited {
  color: #007dbc;
  font-family: arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

/* line 550, ../scss/meeting-styles.scss */
section a:hover, article a:hover {
  color: #00aaff;
  font-family: arial, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

/* line 556, ../scss/meeting-styles.scss */
.recog-head {
  text-align: center;
}

/* line 559, ../scss/meeting-styles.scss */
.three-div-col, .two-div-col, .one-div-col {
  padding: 0 10px;
}

/* line 562, ../scss/meeting-styles.scss */
.three-div-col div {
  width: 33.33%;
  float: left;
  margin-bottom: 1em;
}

/* line 568, ../scss/meeting-styles.scss */
.two-div-col div {
  width: 50%;
  float: left;
  margin-bottom: 1em;
}

/* line 574, ../scss/meeting-styles.scss */
.one-div-col div {
  width: 100%;
  margin-bottom: 1em;
}

/* line 579, ../scss/meeting-styles.scss */
div.col-left {
  text-align: left;
}

/* line 582, ../scss/meeting-styles.scss */
div.col-center {
  text-align: center;
}

/* line 585, ../scss/meeting-styles.scss */
div.col-right {
  text-align: right;
}

/* line 590, ../scss/meeting-styles.scss */
section.case-summary:after {
  display: block;
  content: "";
  height: 3px;
  max-width: 450px;
  background: url(./images/bar.jpg) no-repeat transparent;
  margin: 15px auto;
}
/* line 598, ../scss/meeting-styles.scss */
section.case-summary:last-of-type:after {
  background: transparent;
}

/* FIGURES */
/* FIGURE STYLES */
/* line 3, ../scss/meeting-figures.scss */
figure {
  margin: 0 auto;
  padding: 10px;
  float: left;
  text-align: left;
}
/* line 8, ../scss/meeting-figures.scss */
figure img {
  border: 0;
  -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

/* line 15, ../scss/meeting-figures.scss */
.four-fig-col figure {
  width: 22%;
}

/* line 18, ../scss/meeting-figures.scss */
.three-fig-col figure {
  width: 30%;
}

/* line 22, ../scss/meeting-figures.scss */
.two-fig-col figure {
  width: 46%;
}

/* line 26, ../scss/meeting-figures.scss */
figcaption {
  text-align: left;
  line-height: 15px;
  color: #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
}

/* FOOTNOTES */
/* line 607, ../scss/meeting-styles.scss */
#hoverfootnote {
  position: absolute;
  top: -500px;
  left: -500px;
  padding: 6px;
  border: #333333 solid 1px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #eee;
  max-width: 350px;
  opacity: .9;
  line-height: 15px;
  color: #000000;
  display: none;
  font-family: verdana, arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
}
/* line 623, ../scss/meeting-styles.scss */
#hoverfootnote p {
  color: #a00000;
  padding: 0;
  margin: 1em 0 0;
}

/* line 630, ../scss/meeting-styles.scss */
ol.footnotes {
  margin-top: 0.25em;
  margin-bottom: 1em;
  list-style-type: decimal;
  padding-left: 2.5em;
}

/* CLEARFIX */
/* CLEARFIX */
/* line 3, ../scss/basecss-clearfix.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 8, ../scss/basecss-clearfix.scss */
.clearfix:after {
  clear: both;
}

/* line 11, ../scss/basecss-clearfix.scss */
.clearfix {
  *zoom: 1;
}
